LIST OF CONTENT combining and exporting data part2_task
1. import libraries
2. preparing datasets
3. merging datasets
4. Exporting Dataframe

# 1. import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 2. preparing datasets

In [2]:
# define path
path=r'/Users/ru/Desktop/CF/04 Achievement 4_Python'

In [3]:
# create a list without 'unnamed: 0' and '_merge'
vars_list = ['order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'last_order (in days)',
       'product_id', 'add_to_cart_order', 'reordered']

In [4]:
# import data orders_products_combined.pkl
df_orders_products_combined = pd.read_pickle(os.path.join(path,
'02_Data','2.2 Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# use vars_list as a filter
df_orders_products_combined = df_orders_products_combined[vars_list]

In [6]:
# check results
df_orders_products_combined.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order (in days),product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [7]:
df_orders_products_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'last_order (in days)', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [8]:
df_orders_products_combined.shape

(32434489, 9)

In [9]:
# create a shorter name
df_2=df_orders_products_combined

In [10]:
# import data products checked
df_prods = pd.read_csv(os.path.join(path,
'02_Data','2.2 Prepared Data', 'products_checked.csv'), index_col=None)

In [11]:
# check results
df_prods.head(5)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods.shape

(49672, 6)

In [13]:
df_prods.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [14]:
# create a shorte name
df_1=df_prods

# 3. merging datasets

In [15]:
# combine df_1 and df_2 with merge() on product_id-key
df_ords_prods_merge = df_1.merge(df_2, on='product_id', indicator=True)

In [16]:
# check results
df_ords_prods_merge.head(5)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order (in days),add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [17]:
df_ords_prods_merge.shape

(32404859, 15)

In [18]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [19]:
df_ords_prods_merge = df_1.merge(df_2, on='product_id', indicator=True, how = 'outer')

In [44]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
right_only       30200
left_only           11
Name: count, dtype: int64

## 4. Exporting Dataframe

In [1]:
# due to size advantages I decide to import as pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02_Data','2.2 Prepared Data', 'ords_prods_merge_4.6.pkl'))

NameError: name 'df_ords_prods_merge' is not defined