LIST OF CONTENT combining and exporting data_part1_exercise
1. import libraries
2. merge datasets
3. exporting data to cvs and pkl

# 1. import libraries and preparations

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# define path
path=r'/Users/ru/Desktop/CF/04 Achievement 4_Python'

In [3]:
# import data ord_prior
df_ords_prior = pd.read_csv(os.path.join(path,
'02_Data','2.1 Original Data','orders_products_prior.csv'))

In [4]:
# import data orders checked
df_ords = pd.read_csv(os.path.join(path,
'02_Data','2.2 Prepared Data', 'orders_checked.csv'))

In [5]:
# check output
df_ords_prior.head(5)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords.head(5)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order (in days)
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.shape

(3421083, 7)

# 2. merge datasets

In [9]:
# merge datasets
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how='inner')

In [10]:
# check results
df_merged_large.head(5)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order (in days),product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [11]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
df_merged_large.shape

(32434489, 11)

# 3. exporting data to cvs and pkl

In [13]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02_Data','2.2 Prepared Data', 'orders_products_combined.csv'))

In [14]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, 
'02_Data','2.2 Prepared Data', 'orders_products_combined.pkl'))